* {
	font-family: Calibri, sans-serif;
	margin: 0;
	padding: 0;
}

#wrapper {
	display:flex;
}

main {
	width: 100vw;
}

nav ul li span {
	cursor: pointer;
}

aside {
	background-color: #E5EEFD;
	width: 200px;
	/*height: 100vh;*/
	padding: 20px 20px 0 20px;
}

aside nav ul {
	list-style-type: none;
}

aside nav ul li {
	text-decoration: underline;
}
/*aside {
	padding: 0 0 0 20px;	
}*/

main, form {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction: column
}

input {
	padding: 0 10px;
}

.choice {
	width: 60px;
	height: 60px;
	margin: 10px
}

table {
	border-collapse: collapse;
	width: 70%;
}
th, td {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}
th {
	background-color: #E5EEFD;
}

.grid-column {
	display: flex;
	flex-wrap: wrap;
	max-width: 160px;
}


fieldset {
	padding: 30px;
}

fieldset, input {
	border: 1px solid #000;
}

legend {
	padding: 0 4px;
}

label {
	display: grid;
}

.form-input {
	height: 25px;
	width: 150px;
}

form label button {
	width: 100%;
}
